* {
  box-sizing: border-box;
}

body {
  /*background-color: #A182A4;*/
  font-family: 'Ubuntu', 'Arial', Sans-serif;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  /*background:
   linear-gradient(
    rgba(211, 211, 211, 0.5),
    rgba(211, 211, 211, 0.5)
  ),
  url(../images/background-image.jpg);
  background-position: top;
  background-size: 100%;*/
}

a {
  text-decoration: none;
}

.about {
  position: absolute;
  top: 0;
  left: 0;
  margin: 5px;
}

.about a {
  color: #1C0E21;
}

.logo {
  font-family: 'Brush Script MT', 'Arial', sans-serif;
  font-size:100px;
  font-weight:500;
  margin: 15% 0px 0px;
  padding:0;
  text-align: center;
}

.small-logo {
  float: left;
  font-family: 'Brush Script MT', 'Arial', sans-serif;
  font-size:50px;
  font-weight:500;
  background-color: #654F6F;
  margin: 0 0 0 0;
  padding: 15px;
  border-radius: 50%;
  text-align: left;
}

.moto {
  font-family: 'Brush Script MT', 'Arial', sans-serif;
  font-size:40px;
  font-weight:normal;
  margin: 0% 0px 0px;
  padding:0;
  text-align: center;
}

.logo a {
  color: #1C0E21;
}

.login {
  border-bottom: 5px solid #654F6F;
  width: 150px;
  display: inline-block;
  font-size: 30px;
  padding: 10px;
  background-color: #1C0E21;
}

.login:hover {
  background-color: lightgrey;
  transition: all 0.3s linear;
  transform: scale(1.01);
}

.login a {
  color: #654F6F;
}

.register {
  border-top: 5px solid;
  width: 150px;
  display: inline-block;
  font-size: 30px;
  padding: 10px;
  background-color: #654F6F;
}

.register:hover {
  background-color: lightgrey;
  transition: all 0.3s linear;
  transform: scale(1.01);
}

.register a {
  color: #1C0E21;
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
}

/*Formatting for the nav bar*/
.nav-trigger {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}
  .site-nav li {
    display: block;
    float: none;
    text-align: left;
  }
  .site-nav {
      background: #1C0E21;
      width: 20%;
      height: 100%;
      position: fixed;
      top: -100%;
      right: 0;
      bottom: 0;
      left: -100%;
      z-index: 1;
  }
  .site-nav a {
    color: #654F6F;
  }
  .site-wrap {
      min-width: 100%;
      min-height: 100%;
      position: relative;
      top: 0;
      bottom: 100%;
      left: 0;
      z-index: 0;
  }
  .navigation {
    padding: 0;
  }

  label[for="nav-trigger"] {
      position: fixed;
      top: 15%;
      left: 15px;
      z-index: 2;
      width: 50px;
      height: 50px;
      cursor: pointer;
      display: inline-block;
      float: right;
      background:linear-gradient(to bottom, #1C0E21 0%, #1C0E21 20%, transparent 20%, transparent 40%, #1C0E21 40%, #1C0E21 60%, transparent 60%,transparent 80%, #1C0E21 80%, #1C0E21 100%);
      background-size: contain;

      animation-name: pulse;
      animation-duration: 1.5s;
      animation-timing-function: ease-in-out;
      animation-delay: 2s;
      animation-iteration-count: 2;
      transition: background 2s linear-gradient;
}

  /*animation for menu icon pulse effect*/
@keyframes pulse {
  0% {
    transform: scale (1.0);
  }
  50% {
    transform: scale(1.2);
    background:linear-gradient(to bottom, #654F6F 0%, #654F6F 20%, transparent 20%, transparent 40%, #654F6F 40%, #654F6F 60%, transparent 60%,transparent 80%, #654F6F 80%, #654F6F 100%);
  }
  100% {
    transform: scale(1.0);
  }
}
  /*end of animation menu pulse effect*/

  .nav-trigger:checked + label {
      left: 21%;
  }
  .nav-trigger:checked ~ .site-wrap {
      left: 0%;
  }
  .nav-trigger + label, .site-wrap {
      transition: left 0.3s ease-in-out;
  }
  .nav-trigger + label, .site-nav {
      transition: left 0.5s ease-in-out;
  }
  input[type="checkbox"]:checked ~ .site-header h1 {
    color: black;
  }
  input[type="checkbox"]:checked ~ .site-header .site-nav {
    top: 0;
    left: 0;
  }
  input[type="checkbox"]:checked ~ .site-header .site-nav a{
    font-size: 1.0em;
    font-weight: normal;
  }
  input[type="checkbox"]:checked ~ .site-header .site-nav li{
    margin: 0 auto;
    padding: 15% 15% 15% 10%;
  }
  body {
      overflow-x: hidden;
  }
  .navigation li:hover {
    transition: 0.3s linear;
    background-color: lightgrey;
    color: #1C0E21;
  }
  .navigation a:hover {
    color: #1C0E21;
  }
/*Ending formatting for the NAV bar*/
